<h1>Meanwhile...</h1>
<img = src=https://i.imgur.com/OUNyd.jpg>

<p>Lando riding a rainbow-farting magic goat.</p>

<p>BTW the time is now <%= @time.stamp ('5:42pm Mar 7, 2017')%>

<p> Would you like to see  <%= link_to('Platypus', magic_platypus_path) %> again?</p>